@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --primary-color: #e6e6e6;
  --secondary-color: #000000;
  --accent-color: #4e765d;
  --white: #ffffff;

  --title-font: "League Gothic", sans-serif;
  --body-font: "Roboto", sans-serif;

  --border-radius-small: 20px 0px 20px 0px;
  --border-radius-small: 30px 0px 30px 0px;

  --hover-shadow: 4px 4px 8px 0px var(--accent-color);
}
